@mixin imgScale($x, $y) {
    transform: scale($x, $y);
    -webkit-transform: scale($x, $y);
    -moz-transform: scale($x, $y);
    -ms-transform: scale($x, $y);
    -o-transform: scale($x, $y);
}
@mixin imgHover($h) {
    transition: all $h;
    -webkit-transition: all $h;
    -moz-transition: all $h;
    -ms-transition: all $h;
    -o-transition: all $h;
}

.card {
    .card-img {
        overflow: hidden;
        img {
            @include imgHover(0.4s);
        }
    }
    &:hover {
        img {
            @include imgScale(1.3, 1.3);
        }
    }
}

// .card-img{
//     overflow: auto;
//     &:hover{
//         img{

//         }
//     }
// }
